@font-face {
    font-family: "GrtskGiga";
    src: url(../fonts/GrtskGiga-Semibold.ttf); 
}
@font-face {
    font-family: "GrtskTera";
    src: url(../fonts/GrtskTera-Semibold.ttf); 
}
@font-face {
    font-family: "GrtskPeta";
    src: url(../fonts/GrtskPeta-Semibold.ttf); 
}
@font-face {
    font-family: "Menoe";
    src: url(../fonts/menoegrotesque-regular.otf) format("opentype");
    font-style: normal;
    font-weight: normal;  
}
